PORT=3000
TELEGRAM_BOT_TOKEN=coloque_o_token_do_bot_aqui
TELEGRAM_ALLOWED_CHAT_ID=952783431
TELEGRAM_WEBHOOK_SECRET=
PUBLIC_URL=https://seu-dominio.com
TMDB_API_KEY=coloque_a_api_key_da_tmdb_aqui
TMDB_READ_TOKEN=coloque_o_read_token_da_tmdb_aqui
ADMIN_API_SECRET=
POSTS_STORAGE=file
POSTS_BLOB_PATH=data/posts.json
BLOB_READ_WRITE_TOKEN=
